<section class="container" style="margin-bottom: 100px">
    <div class="row">
        <div class="col-lg-12">
            <h3> Agendar Viaje <small id="clientName">{{username}}</small> </h3>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-lg-12">
                <section class="card">
                    <header class="card-header bg-dark text-secondary">
                        Datos de Solicitud
                    </header>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Fecha</label>
                            <div class="col-sm-4 col-xs-12">
                                <input [(ngModel)]="PickupDate" id="PickupDate" name="PickupDate" type="date" class="form-control" autofocus>
                            </div>
                            <label class="col-sm-2 control-label">Hora</label>
                            <div class="col-sm-4 col-xs-12">
                                <input [(ngModel)]="PickupTime" id="PickupTime" name="PickupTime" type="time" class="form-control ">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ">Origen</label>
                            <div class="col-sm-4 col-xs-12">
                                <input required [(ngModel)]="Title" id="Title" name="Title" type="text" class="form-control ">
                            </div>
                            <label class="col-sm-2 col-xs-12 control-label  ">Destino</label>
                            <div class="col-sm-4">
                                <input required [(ngModel)]="Destination" id="Destination" name="Destination" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                </section>
                <br>
                <section class="card">
                    <header class="card-header bg-dark text-secondary">
                        Datos de Pasajeros
                    </header>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Nombre Contacto</label>
                            <div class="col-sm-4">
                                <input required [(ngModel)]="MainPax" id="MainPax" name="MainPax" type="text" class="form-control ">
                            </div>
                            <label class="col-sm-2 control-label  ">Pasajeros</label>
                            <div class="col-sm-1">
                                <input value="1" [(ngModel)]="PaxNumber" id="PaxNumber" name="PaxNumber" type="number" class="form-control ">
                            </div>
                            <label class="col-sm-1 control-label  ">Telefono</label>
                            <div class="col-sm-2">
                                <input required [(ngModel)]="MainPaxPhone" id="MainPaxPhone" name="MainPaxPhone" type="tel" class="form-control ">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label  ">Email</label>
                            <div class="col-sm-4">
                                <input [(ngModel)]="MainPaxEmail" id="MainPaxEmail" name="MainPaxEmail" type="email" class="form-control ">
                            </div>
                            <label class="col-sm-2 control-label  ">Vuelo</label>
                            <div class="col-sm-4">
                                <input [(ngModel)]="FlightNumber" id="FlightNumber" name="FlightNumber" type="text" class="form-control ">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label  ">Comentarios</label>
                            <div class="col-sm-10">
                                <textarea [(ngModel)]="Comments" id="Comments" name="Comments" rows="4" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="row form-group text-center">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-secondary" value="Solicitar" onclick="SendEmail()" (click)="postRequest()">
                                <!-- <input type="submit" class="btn btn-default" value="Solicitar" (click)="postRequest()"> -->
                            </div>
                        </div>
                    </div>
                </section>
                <br>
            </div>
        </div>
    </form>
</section>