<main class="container">
    <h3 class="text-primary">
        {{username}}
    </h3>
    <h5 class="text-secondary"> Agenda de Viajes </h5>

    <div class="row">

        <div class="card-deck">
            <div class="card text-center">
                <img class="card-img-top" src="assets/images/1.jpg" alt="eztrip">
                <div class="card-header">
                    <h4 class="text-info">Mis Viajes</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Vea el historial de los viajes solicitados, realizados y cancelados.</p>
                    <button type="button" class="btn btn-secondary ">Ver viajes...</button>
                </div>
            </div>

            <div class="card text-center">
                <img class="card-img-top" src="assets/images/2.jpg" alt="eztrip">
                <div class="card-header">
                    <h4 class="text-info">Agendar Viaje</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Coordine un nuevo viaje de forma rapida y efectiva.</p>
                    <a class="btn btn-secondary" href="triprequest">Agendar viaje...</a>
                </div>
            </div>

            <div class="card text-center">
                <img class="card-img-top" src="assets/images/3.jpg" alt="eztrip">
                <div class="card-header">
                    <h4 class="text-info">Mi Perfil</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Acceda y modifique sus datos de contacto, como telefono o email.</p>
                    <button type="button" class="btn btn-secondary">Acceder...</button>
                </div>
            </div>

        </div>
    </div>
</main>